* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

nav {
    position: fixed;
    top: 0px;
    width: 100%;
}

ul {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
    
}

li a {
    font-size: 20px;
    text-decoration: none;
}

header {
    padding-top: 50px;
}